@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(118, 118, 211);
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(52, 20, 82);
    width: 350px;
    height: 420px;
    padding: 20px;
    row-gap: 20px;
    border-radius: 10px;
    display: none;
}

#titulo {
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.dados {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.titulo-campos {
    color: white;
}

.campos {
    padding: 8px;
    border-radius: 5px;
}

#btn-calcular, #btn-limpar  {
    background-color: blue;
    padding: 13px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
    text-transform: uppercase;
    
}

#btn-limpar {
    background-color: rgb(202, 23, 23);
}

#btn-calcular:hover, #btn-limpar:hover  {
    opacity: 1;
}

.resultado {
    text-align: center;
    background-color: rgb(52, 20, 82);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#imc-number {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
}

#imc-info {
    font-size: 1.4rem;
}

.resultado h3 {
    margin-top: 1rem;
}

#imc-table {
    margin: 1.5rem 0;
    font-size: 0.8rem;
}

.table-header, .table-data {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid red;
}

.table-header h4, .table-data p {
    flex: 1;
}

.table-header h4:nth-child(3), .table-data p:nth-child(3) {
    max-width: 80px;
}


footer p {
    text-align: center;
    font-size: 13px;
    color: rgb(52, 20, 82);
}

footer a {
    text-decoration: none;
    color: rgb(52, 20, 82);
}